<div class="container pt-30">

  <h3 class="mt-20">Instant Notes</h3>

  <form>
    <input #note class="form-control margin" placeholder="Take a note..."
      (keyup.enter)="saveNote(note.value); note.value = ''" name="description" />
  </form>

  <app-notes [notes]="notes"></app-notes>

  <!-- <h3 class="mt-20" *ngIf="completed">Completed</h3>
  <app-notes [notes]="completed"></app-notes> -->

</div>


<style>
  .mt-20 {
    margin-top: 20px;
    margin-bottom: 30px;

  }

  .margin {
    margin-bottom: 30px;
  }
</style>
